mixin intro()
  p
    block

mixin project(data)
  .list-item(id=data.name.toLowerCase().replace(/[ \/]/g, '-'))
    h2
      | !{data.name}
      if data.gh
        | 
        a.icon-link(href="https://github.com/" + data.gh): i.icon.icon-github-square.icon-lg
      if data.blog
        | 
        a.icon-link(href=data.blog): i.icon.icon-pencil-square.icon-lg
      if data.link
        | 
        a.icon-link(href=data.link): i.icon.icon-external-link-square.icon-lg
    p
      block

mixin module(data)
  .list-item(id=data.name.toLowerCase().replace(/[ \/]/g, '-'))
    h2
      | !{data.name}
      - var gh = Array.isArray(data.gh) ? data.gh : [data.gh]
      for link in gh
        | 
        a.icon-link(href="https://github.com/" + link): i.icon.icon-github-square.icon-lg
    p
      block

mixin section(color, id)
  .inner-content(class='color-' + color, id=id)
    .column
      block