mixin _gh(data)
  - var ghLinks = Array.isArray(data) ? data : [data]
  for link in ghLinks
    | 
    a.icon-link(href="https://github.com/" + link): i.icon.icon-github-square

mixin _npm(data)
  - var links = Array.isArray(data) ? data : [data]
  for link in links
    | 
    a.icon-link(href="https://www.npmjs.com/package/" + link)
      i.icon.icon-package

mixin intro()
  p.intro
    block
    | 

mixin project(data)
  .list-item(id=data.name.toLowerCase().replace(/[ \W]/g, '-').replace(/-+/g, '-'))
    h2
      | !{data.name}
      +_gh(data.gh)
      if (data.npm)
        +_npm(data.npm)
      if data.blog
        | 
        a.icon-link(href=data.blog): i.icon.icon-pencil-square
      if data.link
        | 
        a.icon-link(href=data.link): i.icon.icon-external-link-square
      if data.tw
        | 
        a.icon-link(href='https://twitter.com/' + data.tw): i.icon.icon-twitter-square
    p
      block

mixin module(data)
  .list-item(id=data.name.toLowerCase().replace(/[ \W]/g, '-').replace(/-+/g, '-'))
    h2
      | !{data.name}
      +_gh(data.gh)
      +_npm(data.npm)
    p
      block

mixin section(id, color, pattern)
  .inner-content(class=['color', 'color-' + color, 'pattern', 'pattern-' + pattern], id=id, data-color=color)
    .column
      block